H1 { 
    font-size: 120%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #1329ec; 
    }

    p { 
    font-size: 80%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #070707; 
    }
    
    .-ul { 
    font-size: 80%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #d41062; 
    }

    p:: first-line {
        font-size 200;
    }

    mart