* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.header {
	padding-top: 500px;
	background-size: cover;
	background-image: url('../images/bg.png');
	min-width: 1550px;
	min-height: 900px;
}

.header__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

.header__subtitle {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: white;
}

.header__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 66px;
	text-transform: uppercase;
	border: 2px solid white;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 36px 30px;
	margin: 0;
}

.header__span {
	color: #F48E0B;
	border-left: #F48E0B;
	display: inline-block;
	padding-top: 0 20px;
}

.about-us {
	text-align: center;
	padding-top: 80px;
}

.content__text {
	text-align: center;
}

.content__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
}

.content__title--shadow {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.cintent_text {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 24px;
}

.content__logo {
	margin-top: 50px;
}

.content__nav {
	max-width: 1169px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin-top: 40px;
	border-bottom: 3px solid #F1B128;
}

.content__nav__list {
	list-style: none;
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
}

.content__nav__list li {
	margin-left: 69px;
}

.content__nav__list a {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	color: #3D3D3D;
	text-transform: uppercase;
}

.consult {
	margin-top: 126px;
	text-align: center;
}

.consult__container {
	display: flex;
	justify-content: space-between;
	margin-top: 105px;
}

.consult__gallery {
	width: 580px;
	display: flex;
	flex-wrap: wrap;
}

.consult__gallery-item {
	margin-right: 30px;
	margin-bottom: 30px;
	display: flex;
}

.consult__gallery-item:nth-child(2n) {
	margin-right: 0;
}

.consult__text {
	width: 570px;
	text-align: left;
}

.consult__h3 {
	margin: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.consult__h3 span {
	color: #F1AD1D;
}

.consult__text-content {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
}

.consult__btn {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	padding: 19px 25px;
	display: inline-block;
	color: white;
	background-color: #F1AD1D;
	text-decoration: none;
	margin-top: 45px;
	transition: all 0.5s;
}

.consult__btn:hover {
	transform: scale(1.05);
	transition: all 0.5s;
}

.ideas {
	background-image: url("../images/ideas.png");
	background-size: cover;
	min-height: 380px;
	text-align: center;
	padding-top: 137px;
	margin-top: 124px;
}

.ideas__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: white;
	text-transform: uppercase;
}

.ideas__text span {
	color: #F1AD1D;
}

.people {
	margin-top: 114px;
}


.people__list {
	margin-top: 103px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.people__item {
	flex-basis: 193px;
}
s